---
---

@charset "utf-8";

.archive {

  &__warning {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background-color: #fdf9e2;
    padding: 1.5em;

    margin-top: 1.6em;
    margin-bottom: 1.2em;
  }

  &__warning-sign {
    background-color: rgb(247, 165, 53);

    border-style: solid;
    border-width: 0;
    border-radius: 100%;

    width: 1.6em;
    height: 1.6em;

    color: #ffffff;
    font-weight: 1000;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__warning-message {
    margin: 0;
  }
}


