---
title: KDE-2 アプリの国際化の方法
layout: archive
---

<p>Qt は ver.2 以降、内部コードが Unicode 化されています。</p>

<p>文字列は EUC のまま渡すと文字化けしてしまいます。<br>
そのため Unicode に変換してから渡す必要があります。<br>
内部処理の際にも Unicode であることを意識して行う必要があります。</p>

<p>これらは他のライブラリではあまり見掛けない独特な手法です。<br>
そこで Unicode 関連の処理についてまとめてみました。</p>

<hr>
<h2><a href="http://www.unicode.org/">Unicode</a> について</h2>

<p>Unicode とは<a href="http://charts.unicode.org/Web.html">世界中の主要な文字を単一の文字テーブルに定義</a>したものです。<br>
テーブルは 16bit で表され、理論上 65,536 文字を収録することができます。</p>

<p>16bit で表された Unicode 体系を <b>UCS-2</b> といいます。</p>

<p>従来の char* 型文字列では UCS-2 を処理することができません。<br>
そのためマルチバイト処理により 8bit 化して<br>
char* 型文字列として扱えるようにした規格が <b>UTF-8</b> です。</p>

<p>UCS-2 と UTF-8 との変換では<b>情報の欠損がない</b>ため、<br>
表記内容を等価な物として扱うことができます。<br>
そのため char* 型で処理する必要がある場合には、<br>
一時的に UTF-8 に変換して処理後に UCS-2 に戻すという作業が必要になります。</p>

<p>処理対象が UCS-2 または UTF-8 のみであれば<br>
特に難しいことを考えなくても取り扱うことができるのですが、<br>
現状では EUC など従来の文字コードがメインのためそうもいきません。<br>
これが Qt での文字コード処理を複雑にしている主な原因です。</p>

<hr>
<h2>具体的なパッチの作り方</h2>

<ol>

<li>ascii(), latin1() を見つける。<br>
<br>
QString::ascii(), latin1() を用いているところがあれば、<br>
そこに日本語などが入る可能性があるときには local8Bit() へ変更します。<br>
※ utf8()でも十分な場合は utf8() を。<br>
場合によっては const char * へのキャストをつける。<br>
<br>
</li>

<li>sprintf は要注意<br>
<br>
QString::sprintf() の %s の文字列のところには UTF-8 しか受け付けません。<br>
UTF-8 に変換して渡してください。<br>
<br>
<ol>
<li>ascii() を使っていた場合<br>
utf8()に変換。さらに const char * へキャストしてください。<br>
<pre>
QString str, str2;
str.sprintf("%s", str2);
---> str.sprintf("%s", (const char *)str2.utf8());
</pre>
</li>
<li>char * をそのまま渡している場合<br>
UTF-8 の文字列を渡してる場合は問題なし。<br>
locale 文字列 (EUC など) を渡している場合には UTF-8 に変換してください。
<pre>
(const char *) QString::fromLocal8Bit(str).utf8()
</pre>
</li>
<li>QString::sprintf() の format は現状で日本語などは<font color="red">受け付けません</font>。
<pre>
qstring.sprintf(unicodestr, args, ...);
---> qstring = QString::fromUtf8(QCString().sprintf(unicodestr.utf8(), args, ...));
</pre>
</li>
</ol>
</li>

<li>QStrList も要注意。<br>
<br>
QStrList は QString ではなく、 char * のリストです。<br>
QStringとのやり取りを行なう場合には変換をしてください。<br>
<br>
<ul>
<li>QStrList へデータを格納する場合<br>
append(), insert() などでデータを挿入する場合には<br>
QString::local8Bit() または QString::utf8() で変換してください。<br>
<br>
</li>
<li>QStrList からデータを取り出す場合<br>
at() などでデータを取り出す場合、<br>
QString::fromLocal8Bit() で QString へ変換します。<br>
utf8() で格納した場合、QString::fromUtf8() で変換してください。
</li>
</ul>
</li>

</ol>

<p>All units are in pixels unless otherwise specified</p>
<p>最終更新日: 2000年8月6日</p>
