---
title: 日本 KDE ユーザ会について
---

<p>
  日本 KDE ユーザ会は KDE で快適に日本語を利用できるようにするために結成されました。<br />
  日本 KDE ユーザ会では、KDE に含まれるソフトウェアや、KDE で利用されている Qt の日本語化、それらのドキュメントの翻訳、
  バグの発見や、パッチの作成などを行なっています。<br />
  このサイトには一部 <a href="https://kde.org/">KDE 本家</a>のコンテンツの日本語訳を含みますが、基本的に本家のサイトからは独立して運営されています。
  <br />
  協力者は随時求めております。詳細は <a href="/community/getinvolved/">活動に参加する</a> のページをご覧下さい。
</p>
